#dashboard-header {
  .md-headline {
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 5px;
  }
  .md-subhead {
    margin-left: 3px;
  }
  md-card-actions {
    margin: 0;
  }
}

// This element appears at the `document.body` element,
// and is not contained in the structure for `#dashboard-header`.
.dashboard-header-addfriends {
  width: 30vw;
  min-width: 300px;
  md-virtual-repeat-container {
    height: 400px;
  }
}