<div class="wrapper" ng-show="loading">
  <div class="mb-4">Logging in...</div>
  <i class="fa fa-spinner fa-pulse fa-5x"></i>
</div>

<div class="wrapper" ng-hide="loading">
  <h1>Login</h1>
  <hr>
  <div class="errors mb-2" ng-show="error.non_field_errors">
    <div class="error text-danger" ng-repeat="message in error.non_field_errors">
      <i class="fa fa-exclamation-triangle"></i> {{ message }}
    </div>
  </div>
  <form name="loginForm">
    <div class="username">
      <label ng-class="{ 'text-danger': error.username }">Username</label>
      <label class="text-danger" ng-show="error.username"><i>{{ error.username[0] }}</i></label>
      <input type="text" class="form-control" ng-model="username" />
    </div>
    <div class="password">
      <label ng-class="{ 'text-danger': error.password }">Password</label>
      <label class="text-danger" ng-show="error.password"><i>{{ error.password[0] }}</i></label>
      <input type="password" class="form-control" ng-model="password" />
    </div>
    <div class="control">
      <button type="submit" class="btn btn-primary login" ng-click="login(username, password)">
        Login
      </button>
      <div class="help mt-4">
        Don't have credentials? Click <a ui-sref="root.signup">here</a> to register.
      </div>
    </div>
  </form>
</div>