<div id="signup-root">
  <div class="body table">
      <div class="canvas tr">
        <center class="td">
          <div class="wrapper">
            <h1>Signup</h1>
            <hr>
            <div class="username">
              <input type="text" class="form-control" ng-model="username" />
            </div>
            <div class="email">
              <input type="text" class="form-control" ng-model="email" />
            </div>
            <div class="password">
              <input type="password" class="form-control" ng-model="password" />
            </div>
            <div class="confirm">
              <input type="password" class="form-control" ng-model="confirm" />
            </div>
            <div class="control">
              <button type="submit" class="btn btn-primary signup" ng-click="signup.signup()">
                Signup
              </button>
            </div>
          </div>
        </center>
      </div>
  </div>
</div>