<div id="login-root">
  <div class="header">
    
  </div>
  <div class="body">
    <div class="container">
      <h1>Login</h1>

      <div class="username">
        <input type="text" class="form-control" ng-model="username" />
      </div>
      <div class="password">
        <input type="password" class="form-control" ng-model="password" />
      </div>
      <button class="btn login" ng-click="login.login(username, password)">
        Login
      </button>
    </div>
  </div>
</div>