<div class="wrapper" ng-hide="loading">
  <h1>Signup</h1>
  <hr>
  <div class="errors mb-2" ng-show="error.non_field_errors">
    <div class="error text-danger" ng-repeat="message in error.non_field_errors">
      <i class="fa fa-warning"></i> {{ message }}
    </div>
  </div>
  <ng-form name="signupForm">
    <div class="username">
      <label ng-class="{ 'text-danger': error.username }">Username</label>
      <label class="text-danger" ng-show="error.username">({{ error.username[0] }})</label>
      <input name="username" type="text" class="form-control" required ng-model="username" />
    </div>
    <div class="email">
      <label ng-class="{ 'text-danger': error.email }">Email</label>
      <label class="text-danger" ng-show="error.email">({{ error.email[0] }})</label>
      <input name="email" type="text" class="form-control" required ng-model="email" />
    </div>
    <div class="password">
      <label ng-class="{ 'text-danger': error.password1 }">Password</label>
      <label class="text-danger" ng-show="error.password1">({{ error.password1[0] }})</label>
      <input name="password" type="password" class="form-control" required ng-model="password" />
    </div>
    <div class="confirm">
      <label ng-class="{ 'text-danger': error.password2 }">Confirm Password</label>
      <label class="text-danger" ng-show="error.password2">({{ error.password2[0] }})</label>
      <input name="confirm" type="password" class="form-control" required ng-model="confirm" />
    </div>
    <div class="control">
      <button type="submit" class="btn btn-primary signup" 
              ng-click="signup(username, email, password, confirm)">
        Signup
      </button>
      <div class="help mt-4">
        Already have an account? Click <a ui-sref="root.login">here</a> to login.
      </div>
    </div>
  </ng-form>
</div>
<div class="wrapper" ng-show="loading">
  <div class="mb-4">Creating user...</div>
  <i class="fa fa-spinner fa-pulse fa-5x"></i>
</div>