<div id="dashboard-root">
  <div class="content" ng-hide="dashboard.loading">
    <div class="top pt-2 pb-2">
      <div class="container">
        <div class="row">
          <div class="col-md-3 avatar">
            <div class="frame table">
              <div class="tr">
                <div class="td">
                  <center>
                    <i class="fa fa-user-circle"></i>
                  </center>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-9 information">
            <h1 class="mb-0">{{ user.username }} 
              <span class="you absolute">
                <span class="relative">
                  (you)
                </span>
              </span>
            </h1>
            <user-information user="user"></user-information>
          </div>
        </div>
      </div>
    </div>
    <div class="settings absolute">
      <div class="container relative">
        <div class="dropdown">
          <button class="btn btn-default" data-toggle="dropdown">
            <i class="fas fa-ellipsis-h" data-fa-transform="grow-12"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" ng-click="dashboard.logout()">Logout</a>
          </div>
        </div>
      </div>
    </div>
    <hr class="mt-0">
    <div class="container about">
      <h3>About</h3>
      <hr>
      <p>{{ user.profile.about }}</p>
    </div>
    <div class="container">
      <div>
        {{ dashboard.output }}
      </div>
      <button class="btn btn-secondary" ng-click="dashboard.connections()">
        Go
      </button>
    </div>
  </div>
  <div class="loading table" ng-show="dashboard.loading">
    <div class="loading tr">
      <center class="loading td">
        <div class="logout" ng-show="dashboard.loading.logout">
          <div class="mb-4">Logging out...</div>
          <i class="fa fa-spinner fa-pulse fa-5x"></i>
        </div>
      </center>
    </div>
  </div>
</div>