
@header-height: 65px;

#home-root {
  .header {
    background: darken(@background-color, 5%);
    height: @header-height;
  }
  .body {
    .container {
      padding-top: 15px;
    }
  }
}