
#dashboard-root {
  .body {
    .container {
      padding-top: 20px;
    }
  }
  .loading.table {
    position: absolute;
    .loading.tr {
      .loading.td {
        vertical-align: middle;
      }
    }
  }
}