
@header-height: 65px;
@control-button-size: 65px;
@control-button-color: #111;

#home-root {
  .header {
    background: darken(@background-color, 5%);
    height: @header-height;
  }
  .body {
    .controls {
      position: absolute;
      right: 0;
      bottom: 0;
      button.logout {
        width: @control-button-size;
        height: @control-button-size;
        border-radius: @control-button-size;
        color: @control-button-color;
      }
    }
  }
}