<div class="wrapper" ng-hide="loading">
  <h1>Login</h1>
  <hr>
  <div class="username">
    <label>Username</label>
    <input type="text" class="form-control" ng-model="username" />
  </div>
  <div class="password">
    <label>Password</label>
    <input type="password" class="form-control" ng-model="password" />
  </div>
  <div class="control">
    <button type="submit" class="btn btn-primary login" ng-click="login(username, password)">
      Login
    </button>
    <div class="help mt-4">
      Don't have an account? Click <a ui-sref="root.signup">here</a> to register.
    </div>
  </div>
</div>
<div class="wrapper" ng-show="loading">
  <div class="mb-4">Logging in...</div>
  <i class="fa fa-spinner fa-pulse fa-5x"></i>
</div>