
<div class="wrapper" ng-show="loading">
  <div class="mb-4">Creating user...</div>
  <i class="fa fa-spinner fa-pulse fa-5x"></i>
</div>

<div class="wrapper" ng-hide="loading">

  <h1>Signup</h1>
  <hr>

  <div class="errors mb-2" ng-show="error.non_field_errors">
    <div class="error text-danger" ng-repeat="message in error.non_field_errors">
      <i class="fa fa-exclamation-triangle"></i> {{ message }}
    </div>
  </div>

  <form name="signupForm">

    <input-v error="errors.email" text="Email" type="email" model="email"></input-v>
    <input-v error="errors.username" text="Username" type="text" model="username"></input-v>
    <input-v error="errors.password" text="Password" type="password" model="password"></input-v>
    <input-v error="errors.password2" text="Confirm Password" type="password" model="confirm"></input-v>

    <div class="control">
      <button type="submit" class="btn btn-primary signup" 
              ng-click="signup(username, email, password, confirm)">
        Signup
      </button>
      <div class="help mt-4">
        Already have credentials? Click <a ui-sref="root.login">here</a> to login.
      </div>
    </div>
  </form>
</div>