
.center-fill (@width, @height) {
  position: absolute;
  bottom: calc(~"50% - "(@height / 2));
  left: calc(~"50% - "(@width / 2));
}

.fullwidth {
  width: 100%;
}

.fontsize-96 { font-size: 96px !important; }
.fontsize-72 { font-size: 72px !important; }
.fontsize-68 { font-size: 68px !important; }
.fontsize-48 { font-size: 48px !important; }
.fontsize-42 { font-size: 42px !important; }
.fontsize-36 { font-size: 36px !important; }
.fontsize-32 { font-size: 32px !important; }
.fontsize-24 { font-size: 24px !important; }
.fontsize-18 { font-size: 18px !important; }
.fontsize-16 { font-size: 16px !important; }
.fontsize-12 { font-size: 12px !important; }
.fontsize-10 { font-size: 10px !important; }

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import "spacing.less";
@import "imports.less";