@import url('https://fonts.googleapis.com/css?family=Anton|Passion+One');

@text-color: #eee;
@background: url("../images/dark_mosaic.png");
@background-color: #2f323b;

html,
body {
    height: 100%;
    margin: 0;
    color: @text-color;
    // background: @background;
    background-color: @background-color;
}

h1, h2, h3, h4, h5 {
    font-weight: 100;    
}

@import "bootstrap.less";